body
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
nav
{
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 50px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #C8FFD4;
    overflow: hidden;
    z-index: 1;
}
nav .logo h3
{
    font-size: 25px;
    color: tomato;
    cursor: pointer;
}
nav .menu
{
    position: relative;
    display: flex;
    list-style: none;
}
nav .menu a
{
    text-decoration: none;
    color: #666;
    margin: 5px;
    padding: 10px 20px;
}
#same
{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
#half-width
{
    padding: 0 20px;
    width: 50%;
}
.first-section
{
    margin-top: 120px;
    margin-bottom: 100px;
}
.first-section .content h1
{
    color: #444;
    font-size: 40px;
}
.first-section .content h1 span
{
    color: hotpink;
}
.first-section .content p,
.second-section .content p
{
    color: #888;
    font-size: 20px;
    margin-bottom: 50px;
}
#btn
{
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid;
    border-radius: 50px;
    padding: 20px 30px;
    background: #00F5FF;
}
.first-section .img,
.second-section .img
{
    position: relative;
}
.second-section 
{
    background-image: url('/img/bg-3.jpg');
    background-repeat: repeat;
    background-position: auto;
    background-size: contain;
    margin-bottom: 100px;
}
.recipie-section
{
    text-align: center;
    margin-bottom: 100px;
}
.recipie-section .heading
{
    margin-bottom: 50px;
}
.recipie-section .heading h2
{
    color: #FF8787;
    font-size: 50px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.recipie-section .heading p
{
    color: #888;
    font-size: 20px;
}
.recipie-section .recipie-card
{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.recipie-section .recipie-card .recipie
{
    height: 500px;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.1);
}
.recipie-section .recipie-card .recipie .img
{
    position: relative;
    height: 70%;
    width: 100%;
    margin-bottom: 20px;
    
}
.recipie-section .recipie-card .recipie .img img
{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.recipie-section .recipie-card .recipie h4
{
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.recipie-section .recipie-card .recipie p
{
    color:#666;
    font-size: 15px;
}
.social-section
{
    text-align: center;
    margin-bottom: 100px;
    position: relative;
    justify-content: center;
    padding: 50px 100px;
}
.social-section .social-box
{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    box-shadow: 10px 20px 30px rgba(0,0,0,0.4);
    padding: 0 40px;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.1);
}
.social-section .social-box h2
{
    font-size: 40px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.second-section .social-box span
{
    color: #333;
    font-size: 30px;
}
footer
{
    text-align: center;
    height: 200px;
    background: #1C6758;
    align-items: center;
    padding-top: 60px;
}
footer h3
{
    font-size: 40px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: #fff;
}
footer h3 span
{
    color: #850E35;
}
footer p
{
    font-size: 20px;
    color: #aaa;
}