body
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
nav
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #C8FFD4;
    overflow: hidden;
    z-index: 1;
}
nav .logo h3
{
    font-size: 25px;
    color: tomato;
    cursor: pointer;
}
nav .menu
{
    position: relative;
    display: flex;
    list-style: none;
}
nav .menu a
{
    text-decoration: none;
    color: #666;
    margin: 5px;
    padding: 10px 20px;
}


